@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row flex-row justify-content-center">
        <div class="mt-md-1 flex-column col-12 col-md-6 order-first owl-carousel" style="max-width: 79vh">
            <div>
                <img class="img-fluid owl-lazy" src="~/img/Faces/AdventurousSammy.jpg" />
            </div>
            <div>
                <img class="img-fluid" src="~/img/Faces/BlissfulJordyn.jpg" />
            </div>
            <div>
                <img class="img-fluid" src="~/img/Faces/TooCoolCasey.jpg" />
            </div>
            <div>
                <img class="img-fluid" src="~/img/Faces/FaveCousinAnders.jpg" />
            </div>
            <div>
                <img class="img-fluid" src="~/img/Faces/DogWalkerMJ.jpg" />
            </div>
            <div>
                <img class="img-fluid" src="~/img/Faces/MentorLogan.jpg" />
            </div>
        </div>
        <div class="order-last order-md-first address-book flex-column col-12 glass-style mb-5">
            <h1 class="fw-bold">About the Application</h1>
            <h4 class="lead">
                The Nexus is a full-stack .NET application leveraging MVC architecture and iterative design
                for development of a multi-tenant contacts book. Click the Login button at the top of the page to demo the application.
            </h4>
            <div class="row flex-row">
                <div class="order-md-first flex-column col-12">
                    <ul class="fa-ul pt-2 checklist">
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>MVC Design</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>.NET Identity Management</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Database Engineering</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>API Integration</li>
                    </ul>
                </div>
                <h5 class="fw-bold mt-3">Technologies Used</h5>
                <div class="mb-3 order-last flex-column col-12 col-md-12 d-inline-flex align-items-md-start align-items-start justify-content-center justify-content-md-start">
                    <div class="row" style=" font-size:4rem">
                        <div class="col">
                        <i class="devicon-csharp-plain"></i>
                        </div>
                        <div class="col">
                            <i class="devicon-dotnetcore-plain"></i>
                        </div>
                        <div class="col">
                            <i class="devicon-javascript-plain"></i>
                        </div>
                        <div class="col">
                            <i class="devicon-html5-plain"></i>
                        </div>
                        <div class="col">
                            <i class="devicon-css3-plain"></i>
                        </div>
                        <div class="col">
                            <i class="devicon-bootstrap-plain" ></i>
                        </div>
                        <div class="col">
                            <i class="devicon-postgresql-plain-wordmark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>