@using MVCAddressBook.Enums
@model MVCAddressBook.Models.ViewModels.ContactCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.FirstName" class="control-label"></label>
                <input asp-for="Contact.FirstName" class="form-control" />
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.LastName" class="control-label"></label>
                <input asp-for="Contact.LastName" class="form-control" />
                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Birthday" class="control-label"></label>
                <input asp-for="Contact.Birthday" class="form-control" />
                <span asp-validation-for="Contact.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address1" class="control-label"></label>
                <input asp-for="Contact.Address1" class="form-control" />
                <span asp-validation-for="Contact.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address2" class="control-label"></label>
                <input asp-for="Contact.Address2" class="form-control" />
                <span asp-validation-for="Contact.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.City" class="control-label"></label>
                <input asp-for="Contact.City" class="form-control" />
                <span asp-validation-for="Contact.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.State" class="control-label"></label>
                <select asp-for="Contact.State" asp-items="@Html.GetEnumSelectList(typeof(States))" class="form-control"></select>
                <span asp-validation-for="Contact.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.ZipCode" class="control-label"></label>
                <input asp-for="Contact.ZipCode" class="form-control" />
                <span asp-validation-for="Contact.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Phone" class="control-label"></label>
                <input asp-for="Contact.Phone" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.ImageFile" class="control-label"></label>
                <input asp-for="Contact.ImageFile" class="form-control-file" type="file" />
                <span asp-validation-for="Contact.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
