@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="container-fluid d-flex justify-content-center">

    <div class="row mt-5 glass-style">

        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
</div>